.container {
    display: flex;
    justify-content: center;
    height: 300;
    background-color: rgb(52, 52, 52);
}
.heading {
    text-align: center;
    font-size: 30;
}
.feature-box {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 40;
    margin-top: 20;
    background-color: gray;
    width: 200;
    height: 350;
    border-radius: 15;
    border-width: 5;
    border-color: black;
}
.feature-box-inside {
    margin-top: 5;
    margin-left: 5;
    background-color: rgb(255, 39, 39);
    width: 95%;
    padding-top: 5;
    height: 150;
    border-radius: 15;
}
.bio-title {
    font-size: 13;
    font-weight: 600;
    margin-left: 5;
    margin-top: 5;
    color: black;
}
.bio-box {
    margin-left: 5;
    background-color: rgb(44, 44, 44);
    width: 95%;
    height: 40px;
    border-radius: 5;
    padding-top: 5;
    padding-left: 7;
}
.bio-box-text {
    font-size: 12;
}